(
.notdef,
NULL,
CR,
space,
space.tf,
exclam,
quotedbl,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft.tf,
parenright.tf,
asterisk.tf,
plus.tf,
comma.tf,
hyphen.tf,
period.tf,
slash,
zero.tf,
one.tf.ss01,
two.tf,
three.1.tf,
four.tf.ss01,
five.tf,
six.tf.ss01,
seven.tf,
eight.tf,
nine.tf.ss01,
colon.tf,
semicolon.tf,
less.tf,
equal.tf,
greater.tf,
question,
at,
A,
B,
C,
D,
E,
F,
G.1,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft.tf,
backslash,
bracketright.tf,
asciicircum,
underscore,
grave,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l.ss02,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft.tf,
bar,
braceright.tf,
asciitilde.tf,
nbspace.tf,
exclamdown,
cent,
sterling,
currency,
yen,
brokenbar,
section,
dieresis,
copyright,
ordfeminine,
guillemotleft,
logicalnot,
registered,
macron,
degree,
plusminus.tf,
twosuperior,
threesuperior,
acute,
micro,
paragraph,
periodcentered,
cedilla,
onesuperior,
ordmasculine,
guillemotright,
onequarter,
onehalf,
threequarters,
questiondown,
Agrave,
Aacute,
Acircumflex,
Atilde,
Adieresis,
Aring,
AE,
Ccedilla,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Igrave,
Iacute,
Icircumflex,
Idieresis,
Eth,
Ntilde,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Odieresis,
multiply.tf,
Oslash,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Yacute,
Thorn,
germandbls,
agrave,
aacute,
acircumflex,
atilde,
adieresis,
aring,
ae,
ccedilla,
egrave,
eacute,
ecircumflex,
edieresis,
igrave,
iacute,
icircumflex,
idieresis,
eth,
ntilde,
ograve,
oacute,
ocircumflex,
otilde,
odieresis,
divide.tf,
oslash,
ugrave,
uacute,
ucircumflex,
udieresis,
yacute,
thorn,
ydieresis,
Amacron,
amacron,
Abreve,
abreve,
Aogonek,
aogonek,
Cacute,
cacute,
Ccircumflex,
ccircumflex,
Cdotaccent,
cdotaccent,
Ccaron,
ccaron,
Dcaron,
dcaron,
Dcroat,
dcroat,
Emacron,
emacron,
Ebreve,
ebreve,
Edotaccent,
edotaccent,
Eogonek,
eogonek,
Ecaron,
ecaron,
Gcircumflex.1,
gcircumflex,
Gbreve.1,
gbreve,
Gdotaccent.1,
gdotaccent,
Gcommaaccent.1,
gcommaaccent,
Hcircumflex,
hcircumflex,
Hbar,
hbar,
Itilde,
itilde,
Imacron,
imacron,
Ibreve,
ibreve,
Iogonek,
iogonek,
Idotaccent,
dotlessi,
IJ,
ij,
Jcircumflex,
jcircumflex,
Kcommaaccent,
kcommaaccent,
kgreenlandic,
Lacute,
lacute.ss02,
Lcommaaccent,
lcommaaccent.ss02,
Lcaron,
lcaron.ss02,
Ldot,
ldot.ss02,
Lslash,
lslash.ss02,
Nacute,
nacute,
Ncommaaccent,
ncommaaccent,
Ncaron,
ncaron,
Eng,
eng,
Omacron,
omacron,
Obreve,
obreve,
Ohungarumlaut,
ohungarumlaut,
OE,
oe,
Racute,
racute,
Rcommaaccent,
rcommaaccent,
Rcaron,
rcaron,
Sacute,
sacute,
Scircumflex,
scircumflex,
Scedilla,
scedilla,
Scaron,
scaron,
Tcommaaccent,
tcedilla,
Tcaron,
tcaron,
Tbar,
tbar,
Utilde,
utilde,
Umacron,
umacron,
Ubreve,
ubreve,
Uring,
uring,
Uhungarumlaut,
uhungarumlaut,
Uogonek,
uogonek,
Wcircumflex,
wcircumflex,
Ycircumflex,
ycircumflex,
Ydieresis,
Zacute,
zacute,
Zdotaccent,
zdotaccent,
Zcaron,
zcaron,
longs,
bstroke,
Bhook,
Btopbar,
btopbar,
Tonesix,
tonesix,
Oopen,
Chook,
chook,
Dafrican,
Dhook,
Dtopbar,
dtopbar,
deltaturned,
Ereversed,
Schwa,
Eopen,
Fhook,
florin,
Ghook.1,
Gamma-lt,
hv,
Iota,
Istroke,
Khook,
khook,
lbar.ss02,
lambdastroke,
Mturned,
Nhookleft,
nlongrightleg,
Obar,
Ohorn,
ohorn,
Oi,
oi,
Phook,
phook,
yr,
Tonetwo,
tonetwo,
Esh,
eshreversedloop,
tpalatalhook,
Thook,
thook,
Tretroflexhook,
Uhorn,
uhorn,
Upsilonafrican,
Vhook,
Yhook,
yhook,
Zstroke,
zstroke,
Ezh,
Ezhreversed,
ezhreversed,
ezhtail,
twostroke,
Tonefive,
tonefive,
glottalinvertedstroke,
wynn,
clickdental,
clicklateral,
clickalveolar,
clickretroflex,
Dzcaron,
dzcaron,
LJ,
Lj,
lj,
NJ,
Nj,
nj,
Acaron,
acaron,
Icaron,
icaron,
Ocaron,
ocaron,
Ucaron,
ucaron,
Udieresismacron,
udieresismacron,
Udieresisacute,
udieresisacute,
Udieresiscaron,
udieresiscaron,
Udieresisgrave,
udieresisgrave,
eturned,
Adieresismacron,
adieresismacron,
Adotmacron,
adotmacron,
AEmacron,
aemacron,
Gstroke.1,
gstroke,
Gcaron.1,
gcaron,
Kcaron,
kcaron,
Oogonek,
oogonek,
Oogonekmacron,
oogonekmacron,
Ezhcaron,
ezhcaron,
jcaron,
DZ,
Dz,
dz,
Gacute.1,
gacute,
Hwair,
Wynn,
Ngrave,
ngrave,
Aringacute,
aringacute,
AEacute,
aeacute,
Oslashacute,
oslashacute,
Adblgrave,
adblgrave,
Ainvertedbreve,
ainvertedbreve,
Edblgrave,
edblgrave,
Einvertedbreve,
einvertedbreve,
Idblgrave,
idblgrave,
Iinvertedbreve,
iinvertedbreve,
Odblgrave,
odblgrave,
Oinvertedbreve,
oinvertedbreve,
Rdblgrave,
rdblgrave,
Rinvertedbreve,
rinvertedbreve,
Udblgrave,
udblgrave,
Uinvertedbreve,
uinvertedbreve,
Scommaaccent,
scommaaccent,
Tcommaaccent.1,
tcommaaccent,
Yogh,
yogh,
Hcaron,
hcaron,
Nlongrightleg,
dcurl,
Ou,
ou,
Zhook,
zhook,
Adotaccent,
adotaccent,
Ecedilla,
ecedilla,
Odieresismacron,
odieresismacron,
Otildemacron,
otildemacron,
Odotaccent,
odotaccent,
Odotaccentmacron,
odotaccentmacron,
Ymacron,
ymacron,
lcurl,
ncurl,
tcurl,
dotlessj,
dbdigraph,
qpdigraph,
Astroke,
Cstroke,
cstroke,
Lbar,
Tdiagonalstroke,
sswashtail,
zswashtail,
Glottalstop,
glottalstopsmall,
Bstroke,
Ubar,
Vturned,
Estroke,
estroke,
Jstroke,
jstroke,
Qsmallhooktail,
qhooktail,
Rstroke,
rstroke,
Ystroke,
ystroke,
aturned,
ascript,
alphaturned,
bhook,
oopen,
dtail,
dhook,
ereversed-ipa,
schwa,
schwahook,
eopen,
eopenreversed,
eopenreversedhook,
eopenreversedclosed,
dotlessjstroke,
ghook,
gscript-ipa,
Gsmall,
gamma-ipa,
ramshorn,
hturned,
hhook,
henghook,
istroke,
iota,
lmiddletilde.ss02,
lbelt.ss02,
lhookretroflex,
lezh,
mturned,
mlonglegturned,
mhook,
nhookleft,
nhookretroflex,
obarred,
omegaclosed,
phi-ipa,
rturned,
rlonglegturned,
rhookturned,
rfishhook,
rfishhookreversed,
shook,
esh,
dotlessjstrokehook,
eshcurl,
tturned,
tretroflexhook,
ubar,
upsilon-ipa,
vscript,
vturned,
wturned,
yturned,
zretroflexhook,
ezh,
ezhcurl,
glottalstop,
pharyngealvoicedfricative,
glottalstopinverted,
Cstretched,
bullseye,
Bsmall,
eopenclosed,
Hsmall,
jcrossedtail,
kturned,
qhook,
glottalstopstroke,
glottalstopstrokereversed,
dzed,
dezh,
ts,
tesh,
tccurl,
feng,
finalkaf-hb,
lzed,
percussivebilabial,
finalmem-hb,
hfishhookturned,
handtailfishhookturned,
hsupmod,
hhooksupmod,
jsupmod,
rsupmod,
rturnedsupmod,
finaltsadi-hb,
Rsupinvertedmod,
wsupmod,
ysupmod,
primemod,
uni02BA,
commaturnedmod,
quoteright,
commareversedmod,
ringhalfrightmod,
ringhalfleftmod,
glottalstopmod,
glottalstopreversedmod,
arrowheadleftmod,
arrowheadrightmod,
arrowheadupmod,
arrowheaddownmod,
circumflex,
caron,
verticallinemod,
macronmod,
acutemod,
gravemod,
verticallinelowmod,
macronlowmod,
gravelowmod,
acutelowmod,
colontriangularmod,
colontriangularhalfmod,
ringhalfrightcentredmod,
ringhalfleftcentredmod,
tackupmod,
tackdownmod,
plussignmod,
minussignmod,
breve,
dotaccent,
ring,
ogonek,
tilde,
hungarumlaut,
rhotichookmod,
qofdagesh-hb,
gammasupmod,
lsupmod,
ssupmod,
xsupmod,
glottalstopsupreversedmod,
tonebarextrahighmod,
tonebarhighmod,
tonebarmidmod,
tonebarlowmod,
tonebarextralowmod,
yintonemod,
yangtonemod,
voicingmod,
unaspiratedmod,
quotedblright,
arrowheaddownlowmod,
arrowheaduplowmod,
arrowheadleftlowmod,
arrowheadrightlowmod,
ringlowmod,
gravemiddlemod,
gravedblmiddlemod,
acutedblmiddlemod,
tildelowmod,
colonraisedmod,
tonehighbeginmod,
tonehighendmod,
tonelowbeginmod,
tonelowendmod,
shelfmod,
shelfopenmod,
arrowleftlowmod,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
hookabovecomb,
ringcomb,
caroncomb,
dblgravecomb,
commaabovecomb,
commaaboverightcomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
caronbelowcomb,
slashshortcomb,
slashlongcomb,
perispomenicomb,
koroniscomb,
bridgecomb,
equalbelowcomb,
dblvlinebelowcomb,
leftanglebelowcomb,
nottildeabovecomb,
homotheticabovecomb,
almostequaltoabovecomb,
arrowleftrightbelowcomb,
arrowupbelowcomb,
graphemejoinercomb,
arrowheadrightabovecomb,
lefthalfringabovecomb,
fermatacomb,
xbelowcomb,
arrowheadleftbelowcomb,
arrowheadrightbelowcomb,
arrowheadrightheadupbelowcomb,
righthalfringabovecomb,
dotaboverightcomb,
asteriskbelowcomb,
doubleringbelowcomb,
zigzagabovecomb,
doublebrevebelowcomb,
doublebrevecomb,
doublemacroncomb,
doublemacronbelowcomb,
tildedoublecomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acomb,
ecomb,
icomb,
ocomb,
ucomb,
ccomb,
dcomb,
hcomb,
mcomb,
rcomb,
tcomb,
vcomb,
xcomb,
numeralsign,
lownumeralsign,
Digammapamphylian,
iotasub,
sigmalunatereversedsymbol,
sigmalunatedottedsymbol,
sigmalunatedottedreversedsymbol,
questiongreek,
Yot,
tonos,
dieresistonos,
Alphatonos,
anoteleia,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
iotadieresistonos,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
IotaGreek,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Iotadieresis,
Upsilondieresis,
alphatonos,
epsilontonos,
etatonos,
iotatonos,
upsilondieresistonos,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotadieresis,
upsilondieresis,
omicrontonos,
upsilontonos,
omegatonos,
Kaisymbol,
betasymbol,
theta.math,
Upsilonhooksymbol,
Upsilonacutehooksymbol,
Upsilonadieresishooksymbol,
phigreek,
pisymbol,
kaisymbol,
Digamma,
digamma,
kappasymbol,
rhosymbol,
sigmalunatesymbol,
yot,
Thetasymbol,
epsilonlunatesymbol,
epsilonreversedlunatesymbol,
Sigmalunatesymbol,
San,
rhostrokesymbol,
Sigmareversedlunatesymbol,
Sigmalunatesymboldotted,
Reverseddottedsigmalunatesymbol,
Iegravecyr,
Iocyr,
Djecyr,
Gjecyr,
Eukrcyr,
Dzecyr,
Iukrcyr,
Yukrcyr,
Jecyr,
Ljecyr,
Njecyr,
Tshecyr,
Kjecyr,
Igravecyr,
Ushortcyr,
Dzhecyr,
Acyr,
Becyr,
Vecyr,
Gecyr,
Decyr,
Iecyr,
Zhecyr,
Zecyr,
Icyr,
Ishortcyr,
Kacyr,
Elcyr,
Emcyr,
Encyr,
Ocyr,
Pecyr,
Ercyr,
Escyr,
Tecyr,
Ucyr,
Efcyr,
Hacyr,
Tsecyr,
Checyr,
Shacyr,
Shchacyr,
Hardcyr,
Ylongcyr,
Softcyr,
Ereversedcyr,
Yucyr,
Yacyr,
acyr,
becyr,
vecyr,
gecyr,
decyr,
iecyr,
zhecyr,
zecyr,
icyr,
ishortcyr,
kacyr,
elcyr,
emcyr,
encyr,
ocyr,
pecyr,
ercyr,
escyr,
tecyr,
ucyr,
efcyr,
hacyr,
tsecyr,
checyr,
shacyr,
shchacyr,
hardcyr,
ylongcyr,
softcyr,
ereversedcyr,
yucyr,
yacyr,
iegravecyr,
iocyr,
djecyr,
gjecyr,
eukrcyr,
dzecyr,
iukrcyr,
yukrcyr,
jecyr,
ljecyr,
njecyr,
tshecyr,
kjecyr,
igravecyr,
ushortcyr,
dzhecyr,
Omegacyr,
omegacyr,
Yatcyr,
yatcyr,
Eiotifiedcyr,
eiotifiedcyr,
Yuslittlecyr,
yuslittlecyr,
Yuslittleiotifiedcyr,
yuslittleiotifiedcyr,
Yusbigcyr,
yusbigcyr,
Yusbigiotifiedcyr,
yusbigiotifiedcyr,
Ksicyr,
ksicyr,
Psicyr,
psicyr,
Fitacyr,
fitacyr,
Izhitsacyr,
izhitsacyr,
Izhitsagravedblcyr,
izhitsagravedblcyr,
Ukcyr,
ukcyr,
Koppacyr,
koppacyr,
thousandscyr,
titlocombcyr,
palatcombcyr,
dasiacombcyr,
psilicombcyr,
pokrytiecombcyr,
hundredthousandscombcyr,
millionscombcyr,
Ishortsharptailcyr,
ishortsharptailcyr,
Semisoftcyr,
semisoftcyr,
Ertickcyr,
ertickcyr,
Geupcyr,
geupcyr,
Gestrokecyr,
gestrokecyr,
Gehookcyr,
gehookcyr,
Zhetailcyr,
zhetailcyr,
Zetailcyr,
zetailcyr,
Katailcyr,
katailcyr,
Kaverticalstrokecyr,
kaverticalstrokecyr,
Kabashkcyr,
kabashkcyr,
Entailcyr,
entailcyr,
Engecyr,
engecyr,
Pehookcyr,
pehookcyr,
Haabkhcyr,
haabkhcyr,
Estailcyr,
estailcyr,
Tetailcyr,
tetailcyr,
Ustraightcyr,
ustraightcyr,
Ustraightstrokecyr,
ustraightstrokecyr,
Xatailcyr,
xatailcyr,
Tetsecyr,
tetsecyr,
Chetailcyr,
chetailcyr,
Chevertcyr,
chevertcyr,
Shhacyr,
shhacyr,
Cheabkhcyr,
cheabkhcyr,
Cheabkhtailcyr,
cheabkhtailcyr,
Palochkacyr,
Zhebrevecyr,
zhebrevecyr,
Kahookcyr,
kahookcyr,
Elsharptailcyr,
elsharptailcyr,
Enhookcyr,
enhookcyr,
Ensharptailcyr,
ensharptailcyr,
Chekhakascyr,
chekhakascyr,
Emsharptailcyr,
emsharptailcyr,
palochkacyr,
Abrevecyr,
abrevecyr,
Adieresiscyr,
adieresiscyr,
Aiecyr,
aiecyr,
Iebrevecyr,
iebrevecyr,
Schwacyr,
schwacyr,
Schwadieresiscyr,
schwadieresiscyr,
Zhedieresiscyr,
zhedieresiscyr,
Zedieresiscyr,
zedieresiscyr,
Dzeabkhcyr,
dzeabkhcyr,
Imacroncyr,
imacroncyr,
Idieresiscyr,
idieresiscyr,
Odieresiscyr,
odieresiscyr,
Obarcyr,
obarcyr,
Obardieresiscyr,
obardieresiscyr,
Ereverseddieresiscyr,
ereverseddieresiscyr,
Umacroncyr,
umacroncyr,
Udieresiscyr,
udieresiscyr,
Uacutedblcyr,
uacutedblcyr,
Chedieresiscyr,
chedieresiscyr,
Getailcyr,
getailcyr,
Ylongdieresiscyr,
ylongdieresiscyr,
Gehookstrokecyr,
gehookstrokecyr,
Hahookcyr,
hahookcyr,
Hastrokecyr,
hastrokecyr,
eltailcyr,
baht-thai,
amod,
bmod,
dmod,
emod,
gmod,
kmod,
mmod,
omod,
pmod,
tmod,
umod,
vmod,
iinferior,
rinferior,
uinferior,
vinferior,
cmod,
fmod,
zmod,
thetamod,
gravedottedcomb,
acutedottedcomb,
snakebelowcomb,
suspensioncomb,
macronacutecomb,
gravemacroncomb,
macrongravecomb,
acutemacroncomb,
graveacutegravecomb,
acutegraveacutecomb,
rbelowcomb,
brevemacroncomb,
macronbrevecomb,
doublecircumflexcomb,
ogonekabovecomb,
zigzagbelowcomb,
isbelowcomb,
urabovecomb,
usabovecomb,
aaboveflatcomb,
aecomb,
aocomb,
avcomb,
ccedillacomb,
insulardcomb,
ethcomb,
gcomb,
Gcomb,
kcomb,
lcomb,
Lcomb,
Mcomb,
ncomb,
Ncomb,
Rcomb,
rrotundacomb,
scomb,
longscomb,
zcomb,
alphalatincomb,
bcomb,
betalatincomb,
schwacomb,
fcomb,
ldoublemiddletildecomb,
olightcentralizationstrokecomb,
pcomb,
eshcomb,
ulightcentralizationstrokecomb,
wcomb,
adiaeresiscomb,
odiaeresiscomb,
udiaeresiscomb,
uptackabovecomb,
breveinverteddblbelowcomb,
almostequaltobelowcomb,
arrowheadleftabovecomb,
arrowheadrightheaddownbelow,
Aringbelow,
aringbelow,
Bdot,
bdot,
Bdotbelow,
bdotbelow,
Blinebelow,
blinebelow,
Ccedillaacute,
ccedillaacute,
Ddot,
ddot,
Ddotbelow,
ddotbelow,
Dlinebelow,
dlinebelow,
Dcedilla,
dcedilla,
Dcircumflexbelow,
dcircumflexbelow,
Emacrongrave,
emacrongrave,
Emacronacute,
emacronacute,
Ecircumflexbelow,
ecircumflexbelow,
Etildebelow,
etildebelow,
Ecedillabreve,
ecedillabreve,
Fdot,
fdot,
Gmacron.1,
gmacron,
Hdot,
hdot,
Hdotbelow,
hdotbelow,
Hdieresis,
hdieresis,
Hcedilla,
hcedilla,
Hbrevebelow,
hbrevebelow,
Itildebelow,
itildebelow,
Idieresisacute,
idieresisacute,
Kacute,
kacute,
Kdotbelow,
kdotbelow,
Klinebelow,
klinebelow,
Ldotbelow,
ldotbelow.ss02,
Lmacrondot,
lmacrondot.ss02,
Llinebelow,
llinebelow.ss02,
Lcircumflexbelow,
lcircumflexbelow.ss02,
Macute,
macute,
Mdot,
mdot,
Mdotbelow,
mdotbelow,
Ndot,
ndot,
Ndotbelow,
ndotbelow,
Nlinebelow,
nlinebelow,
Ncircumflexbelow,
ncircumflexbelow,
Otildeacute,
otildeacute,
Otildedieresis,
otildedieresis,
Omacrongrave,
omacrongrave,
Omacronacute,
omacronacute,
Pacute,
pacute,
Pdot,
pdot,
Rdot,
rdot,
Rdotbelow,
rdotbelow,
Rmacrondot,
rmacrondot,
Rlinebelow,
rlinebelow,
Sdot,
sdot,
Sdotbelow,
sdotbelow,
Sacutedotaccent,
sacutedotaccent,
Scarondot,
scarondot,
Sdotbelowdotabove,
sdotbelowdotabove,
Tdot,
tdot,
Tdotbelow,
tdotbelow,
Tlinebelow,
tlinebelow,
Tcircumflexbelow,
tcircumflexbelow,
Udieresisbelow,
udieresisbelow,
Utildebelow,
utildebelow,
Ucircumflexbelow,
ucircumflexbelow,
Utildeacute,
utildeacute,
Umacrondieresis,
umacrondieresis,
Vtilde,
vtilde,
Vdotbelow,
vdotbelow,
Wgrave,
wgrave,
Wacute,
wacute,
Wdieresis,
wdieresis,
Wdot,
wdot,
Wdotbelow,
wdotbelow,
Xdot,
xdot,
Xdieresis,
xdieresis,
Ydot,
ydot,
Zcircumflex,
zcircumflex,
Zdotbelow,
zdotbelow,
Zlinebelow,
zlinebelow,
hlinebelow,
tdieresis,
wring,
yring,
arighthalfring,
longsdot,
longswithhighstroke,
Germandbls,
delta-lt,
Adotbelow,
adotbelow,
Ahoi,
ahoi,
Acircumflexacute,
acircumflexacute,
Acircumflexgrave,
acircumflexgrave,
Acircumflexhoi,
acircumflexhoi,
Acircumflextilde,
acircumflextilde,
Acircumflexdotbelow,
acircumflexdotbelow,
Abreveacute,
abreveacute,
Abrevegrave,
abrevegrave,
Abrevehoi,
abrevehoi,
Abrevetilde,
abrevetilde,
Abrevedotbelow,
abrevedotbelow,
Edotbelow,
edotbelow,
Ehoi,
ehoi,
Etilde,
etilde,
Ecircumflexacute,
ecircumflexacute,
Ecircumflexgrave,
ecircumflexgrave,
Ecircumflexhoi,
ecircumflexhoi,
Ecircumflextilde,
ecircumflextilde,
Ecircumflexdotbelow,
ecircumflexdotbelow,
Ihoi,
ihoi,
Idotbelow,
idotbelow,
Odotbelow,
odotbelow,
Ohoi,
ohoi,
Ocircumflexacute,
ocircumflexacute,
Ocircumflexgrave,
ocircumflexgrave,
Ocircumflexhoi,
ocircumflexhoi,
Ocircumflextilde,
ocircumflextilde,
Ocircumflexdotbelow,
ocircumflexdotbelow,
Ohornacute,
ohornacute,
Ohorngrave,
ohorngrave,
Ohornhoi,
ohornhoi,
Ohorntilde,
ohorntilde,
Ohorndotbelow,
ohorndotbelow,
Udotbelow,
udotbelow,
Uhoi,
uhoi,
Uhornacute,
uhornacute,
Uhorngrave,
uhorngrave,
Uhornhoi,
uhornhoi,
Uhorntilde,
uhorntilde,
Uhorndotbelow,
uhorndotbelow,
Ygrave,
ygrave,
Ydotbelow,
ydotbelow,
Yhoi,
yhoi,
Ytilde,
ytilde,
LLwelsh,
llwelsh,
Vwelsh,
vwelsh,
Yloop,
yloop,
alphalenis,
alphaasper,
alphalenisgrave,
alphaaspergrave,
alphalenisacute,
alphaasperacute,
alphalenistilde,
alphaaspertilde,
Alphalenis,
Alphaasper,
Alphalenisgrave,
Alphaaspergrave,
Alphalenisacute,
Alphaasperacute,
Alphalenistilde,
Alphaaspertilde,
epsilonlenis,
epsilonasper,
epsilonlenisgrave,
epsilonaspergrave,
epsilonlenisacute,
epsilonasperacute,
Epsilonlenis,
Epsilonasper,
Epsilonlenisgrave,
Epsilonaspergrave,
Epsilonlenisacute,
Epsilonasperacute,
etalenis,
etaasper,
etalenisgrave,
etaaspergrave,
etalenisacute,
etaasperacute,
etalenistilde,
etaaspertilde,
Etalenis,
Etaasper,
Etalenisgrave,
Etaaspergrave,
Etalenisacute,
Etaasperacute,
Etalenistilde,
Etaaspertilde,
iotalenis,
iotaasper,
iotalenisgrave,
iotaaspergrave,
iotalenisacute,
iotaasperacute,
iotalenistilde,
iotaaspertilde,
Iotalenis,
Iotaasper,
Iotalenisgrave,
Iotaaspergrave,
Iotalenisacute,
Iotaasperacute,
Iotalenistilde,
Iotaaspertilde,
omicronlenis,
omicronasper,
omicronlenisgrave,
omicronaspergrave,
omicronlenisacute,
omicronasperacute,
Omicronlenis,
Omicronasper,
Omicronlenisgrave,
Omicronaspergrave,
Omicronlenisacute,
Omicronasperacute,
upsilonlenis,
upsilonasper,
upsilonlenisgrave,
upsilonaspergrave,
upsilonlenisacute,
upsilonasperacute,
upsilonlenistilde,
upsilonaspertilde,
Upsilonasper,
Upsilonaspergrave,
Upsilonasperacute,
Upsilonaspertilde,
omegalenis,
omegaasper,
omegalenisgrave,
omegaaspergrave,
omegalenisacute,
omegaasperacute,
omegalenistilde,
omegaaspertilde,
Omegalenis,
Omegaasper,
Omegalenisgrave,
Omegaaspergrave,
Omegalenisacute,
Omegaasperacute,
Omegalenistilde,
Omegaaspertilde,
alphagrave,
alphaacute,
epsilongrave,
epsilonacute,
etagrave,
etaacute,
iotagrave,
iotaacute,
omicrongrave,
omicronacute,
upsilongrave,
upsilonacute,
omegagrave,
omegaacute,
alphalenisiotasub,
alphaasperiotasub,
alphalenisgraveiotasub,
alphaaspergraveiotasub,
alphalenisacuteiotasub,
alphaasperacuteiotasub,
alphalenistildeiotasub,
alphaaspertildeiotasub,
Alphalenisiotasub,
Alphaasperiotasub,
Alphalenisgraveiotasub,
Alphaaspergraveiotasub,
Alphalenisacuteiotasub,
Alphaasperacuteiotasub,
Alphalenistildeiotasub,
Alphaaspertildeiotasub,
etalenisiotasub,
etaasperiotasub,
etalenisgraveiotasub,
etaaspergraveiotasub,
etalenisacuteiotasub,
etaasperacuteiotasub,
etalenistildeiotasub,
etaaspertildeiotasub,
Etalenisiotasub,
Etaasperiotasub,
Etalenisgraveiotasub,
Etaaspergraveiotasub,
Etalenisacuteiotasub,
Etaasperacuteiotasub,
Etalenistildeiotasub,
Etaaspertildeiotasub,
omegalenisiotasub,
omegaasperiotasub,
omegalenisgraveiotasub,
omegaaspergraveiotasub,
omegalenisacuteiotasub,
omegaasperacuteiotasub,
omegalenistildeiotasub,
omegaaspertildeiotasub,
Omegalenisiotasub,
Omegaasperiotasub,
Omegalenisgraveiotasub,
Omegaaspergraveiotasub,
Omegalenisacuteiotasub,
Omegaasperacuteiotasub,
Omegalenistildeiotasub,
Omegaaspertildeiotasub,
alphabreve,
alphawithmacron,
alphagraveiotasub,
alphaiotasub,
alphaacuteiotasub,
alphatilde,
alphatildeiotasub,
Alphabreve,
Alphawithmacron,
Alphagrave,
Alphaacute,
Alphaiotasub,
koronis,
iotaadscript,
lenis,
tilde-gr,
dieresistilde,
etagraveiotasub,
etaiotasub,
etaacuteiotasub,
etatilde,
etatildeiotasub,
Epsilongrave,
Epsilonacute,
Etagrave,
Etaacute,
Etaiotasub,
lenisgrave,
lenisacute,
lenistilde,
iotabreve,
iotawithmacron,
iotadieresisgrave,
iotadieresisacute,
iotatilde,
iotadieresistilde,
Iotabreve,
Iotawithmacron,
Iotagrave,
Iotaacute,
aspergrave,
asperacute,
aspertilde,
upsilonbreve,
upsilonwithmacron,
upsilondieresisgrave,
upsilondieresisacute,
rholenis,
rhoasper,
upsilontilde,
upsilondieresistilde,
Upsilonbreve,
Upsilonwithmacron,
Upsilongrave,
Upsilonacute,
Rhoasper,
dieresisgrave,
dieresisacute,
grave-gr,
omegagraveiotasub,
omegaiotasub,
omegaacuteiotasub,
omegatilde,
omegatildeiotasub,
Omicrongrave,
Omicronacute,
Omegagrave,
Omegaacute,
Omegaiotasub,
acute-gr,
asper,
enquad,
emquad,
enspace,
emspace,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace.tf,
thinspace,
hairspace,
zerowidthspace,
hyphen-gnrl,
nonbreakinghyphen,
figuredash,
endash,
emdash,
horizontalbar,
verticalbardbl,
underscoredbl,
quoteleft,
quotesinglbase,
quotereversed,
quotedblleft,
quotedblbase,
quotedblreversed,
dagger,
daggerdbl,
bullet,
triangularbullet,
onedotenleader,
twodotenleader,
ellipsis,
hyphenationpoint,
narrownobreakspace,
perthousand,
pertenthousandsign,
minute,
primedblmod,
millisecond,
minutereversed,
secondreversed,
millisecondreversed,
caret,
guilsinglleft,
guilsinglright,
referencemark,
exclamdbl,
interrobang,
overline,
undertie,
charactertie,
caretinsertionpoint,
asterism,
hyphenbullet,
fraction,
bracketleftsquarequill,
bracketrightsquarequill,
questiondbl,
questionexclamationmark,
exclamationquestion,
tironiansignet,
pilcrowsignreversed,
blackwardsbulletleft,
blackwardsbulletright,
lowasterisk,
semicolonreversed,
closeup,
twoasterisksalignedvertically,
commercialminussign,
swungdash,
invertedundertie,
flowerpunctuationmark,
quadrupleminute,
mediummathematicalspace,
zero.superior,
i.superior,
four.superior,
five.superior,
six.superior,
seven.superior,
eight.superior,
nine.superior,
plus.superior,
minus.superior,
equal.superior,
parenleft.superior,
parenright.superior,
n.superior,
zero.inferior,
one.inferior,
two.inferior,
three.inferior,
four.inferior,
five.inferior,
six.inferior,
seven.inferior,
eight.inferior,
nine.inferior,
plus.inferior,
minus.inferior,
equal.inferior,
parenleft.inferior,
parenright.inferior,
ainferior,
einferior,
oinferior,
xinferior,
schwainferior,
hinferior,
kinferior,
linferior,
minferior,
ninferior,
pinferior,
sinferior,
tinferior,
euroarchaic,
colonmonetary,
cruzeiro,
franc,
lira,
mill,
naira,
peseta,
rupee,
won,
newsheqel,
dong,
Euro,
kip,
tugrik,
drachma,
peso,
guarani,
austral,
hryvnia,
cedi,
tenge,
indianrupee,
turkishlira,
manat,
ruble,
lari,
bitcoin,
threedotsabovecomb,
fourdotsabovecomb,
enclosingcirclecomb,
enclosingsquarecomb,
tripleunderdotcomb,
asteriskabovecomb,
accountof,
addressedsubject,
degreecelsius,
careof,
cadauna,
degreefahrenheit,
litre,
numero,
soundcopyright,
prescription,
response,
servicemark,
telephone,
trademark,
kelvin,
angstrom,
estimated,
Fturned,
facsimile,
aktieselskab,
oneseventh,
oneninth,
onetenth,
onethird,
twothirds,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
onefraction,
one.roman,
two.roman,
three.roman,
four.roman,
five.roman,
six.roman,
seven.roman,
eight.roman,
nine.roman,
ten.roman,
eleven.roman,
twelve.roman,
fifty.roman,
onehundred.roman,
fivehundred.roman,
onethousand.roman,
one.romansmall,
two.romansmall,
three.romansmall,
four.romansmall,
five.romansmall,
six.romansmall,
seven.romansmall,
eight.romansmall,
nine.romansmall,
ten.romansmall,
eleven.romansmall,
twelve.romansmall,
fifty.romansmall,
onehundred.romansmall,
fivehundred.romansmall,
onethousand.romansmall,
reversedonehundred.roman,
creversed,
sixlateform.roman,
fiftyearlyform.roman,
zerothirds,
arrowleft,
arrowup,
arrowright,
arrowdown,
arrowboth,
arrowupdn,
arrowNW,
arrowNE,
arrowSE,
arrowSW,
arrowlefthook,
arrowrighthook,
arrowleftuptip,
arrowuprighttip,
arrowrightdowntip,
arrowrightdowncorner,
carriagereturn,
arrowanticlockwiseopencircle,
arrowclockwiseopencircle,
arrowdblleft,
arrowdblright,
arrowdblboth,
dblstrokearrowup,
dblstrokearrowdown,
arrowlefttobar,
arrowrighttobar,
whitearrowup,
whitearrowupfrombar,
partialdiff,
emptyset,
product,
summation,
minus.tf,
radical,
infinity,
integral,
ratio,
approxequal.tf,
notequal.tf,
lessequal.tf,
greaterequal.tf,
circleplus,
circledminus,
circlemultiply,
circleddivisionslash,
arrowheadup,
arrowheaddown,
projective,
placeofinterestsign,
option,
eraseright,
clear,
eraseleft,
insertion,
alternative,
brokencirclenorthwestarrow,
return,
eject,
openbox-cntr,
onecircle,
twocircle,
threecircle,
fourcircle,
fivecircle,
sixcircle,
sevencircle,
eightcircle,
ninecircle,
Acircle,
Bcircle,
Ccircle,
Dcircle,
Ecircle,
Fcircle,
Gcircle,
Hcircle,
Icircle,
Jcircle,
Kcircle,
Lcircle,
Mcircle,
Ncircle,
Ocircle,
Pcircle,
Qcircle,
Rcircle,
Scircle,
Tcircle,
Ucircle,
Vcircle,
Wcircle,
Xcircle,
Ycircle,
Zcircle,
zerocircle,
filledbox,
squarewhite,
squarewhiteround,
squaresmallblack,
triagup,
triangleupwhite,
triagrt,
trianglerightwhite,
triagdn,
triangledownwhite,
triangleleftblack,
triangleleftwhite,
diamondblack-gmtr,
diamondwhite-gmtr,
lozenge,
circle,
circleblack,
openbullet,
largecircle,
sunraysblack,
starblack,
starwhite,
sun,
heartwhite,
heart,
warning,
check,
ballotx,
diamondminusxblackwhite,
heartblackheavy,
parenflatright,
leftLongArrow,
rightlongArrow,
leftRightLongArrow,
leftLongDoubleArrow,
rightLongDoubleArrow,
leftRightLongDoubleArrow,
downArrowToBar,
divide.circled,
upBlackArrow,
lowerHalfWhiteSquare,
topHalfWhiteSquare,
whiteLargeSquare,
blackLargeCircle,
jinferior,
Zswashtail,
uni2DFF,
interrobanginverted,
iotifiedecomb-cy,
archaicmepigraphic,
cwi-kayahli,
diamondwhite_x,
I.1,
Idieresis.1,
Idieresisacute.1,
Istroke.1,
Itildebelow.1,
Igrave.1,
Iacute.1,
Icircumflex.1,
Itilde.1,
Imacron.1,
Ibreve.1,
Iogonek.1,
Idotaccent.1,
Icaron.1,
Idblgrave.1,
Iinvertedbreve.1,
Ihoi.1,
Idotbelow.1,
Iotalenis.1,
Iotaasper.1,
Iotalenisgrave.1,
Iotaaspergrave.1,
Iotalenisacute.1,
Iotaasperacute.1,
Iotalenistilde.1,
Iotaaspertilde.1,
Iotabreve.1,
Iotawithmacron.1,
Iotagrave.1,
Iotaacute.1,
Iukrcyr.1,
Yukrcyr.1,
a.1,
aacute.1,
abreve.1,
abreveacute.1,
abrevedotbelow.1,
abrevegrave.1,
abrevehoi.1,
abrevetilde.1,
acaron.1,
acircumflex.1,
acircumflexacute.1,
acircumflexdotbelow.1,
acircumflexgrave.1,
acircumflexhoi.1,
acircumflextilde.1,
adblgrave.1,
adieresis.1,
adieresismacron.1,
adotaccent.1,
adotbelow.1,
adotmacron.1,
agrave.1,
ahoi.1,
ainvertedbreve.1,
amacron.1,
aogonek.1,
arighthalfring.1,
aring.1,
aringacute.1,
aringbelow.1,
atilde.1,
itildebelow.ccmp,
iogonek.ccmp,
idotbelow.ccmp,
jstroke.ccmp,
jcrossedtail.ccmp,
rtail-ipa,
rlongleg,
germandbls.1,
zero.slash,
one.ss01,
four.ss01,
six.ss01,
nine.ss01,
zero.tf.slash,
parenleft.case.tf,
parenright.case.tf,
bracketleft.case.tf,
bracketright.case.tf,
braceleft.case.tf,
braceright.case.tf,
at.case,
hyphen.case.tf,
endash.case,
figuredash.case,
emdash.case,
bullet.case,
openbullet.case,
hyphenbullet.case,
triangularbullet.case,
blackwardsbulletleft.case,
blackwardsbulletright.case,
colon.case.tf,
less.case.tf,
greater.case.tf,
lessequal.case.tf,
greaterequal.case.tf,
equal.case.tf,
notequal.case.tf,
plus.case.tf,
minus.case.tf,
multiply.case.tf,
divide.case.tf,
plusminus.case.tf,
approxequal.case.tf,
asciitilde.case.tf,
asterisk.case.tf,
i.numr,
n.numr,
bracketleft.sups,
bracketright.sups,
b.subs,
c.subs,
d.subs,
f.subs,
g.subs,
q.subs,
w.subs,
y.subs,
z.subs,
bracketleft.subs,
bracketright.subs,
zero.dnom,
one.dnom.ss01,
two.dnom,
three.dnom.ss01,
four.dnom.ss01,
five.dnom,
six.dnom.ss01,
seven.dnom,
eight.dnom,
nine.dnom.ss01,
plus.dnom,
minus.dnom,
equal.dnom,
parenleft.dnom,
parenright.dnom,
plus.numr,
minus.numr,
equal.numr,
parenleft.numr,
parenright.numr,
zero.numr,
one.numr.ss01,
two.numr,
three.numr.ss01,
four.numr.ss01,
five.numr,
six.numr.ss01,
seven.numr,
eight.numr,
nine.numr.ss01,
cyrillicbreve,
istroke.ccmp,
i.superior.ccmp,
jsupmod.ccmp,
dieresisacutecomb.lc,
caronsubcomb,
ascript_rhotichookmod,
dotmacron.lc,
dieresismacroncomb.lc,
dieresisgravecomb.lc,
largerighthook,
macrondieresiscomb.lc,
tildeacute.lc,
dieresiscaroncomb.lc,
dieresiscaroncomb.uc,
dieresismacroncomb.uc,
dieresisacutecomb.uc,
dotmacroncomb.uc,
dieresisgravecomb.uc,
tildeacutecomb.uc,
zero.slash.circled,
exclam.circled,
question.circled,
numbersign.circled,
hyphen.circled,
less.circled,
greater.circled,
equal.circled,
arrowup.circled,
arrowdown.circled,
arrowleft.circled,
arrowright.circled,
check.circled,
ballotx.circled,
zero.squared,
one.ss01.squared,
two.squared,
three.1.squared,
four.ss01.squared,
five.squared,
six.ss01.squared,
seven.squared,
eight.squared,
nine.ss01.squared,
zero.slash.squared,
exclam.squared,
question.squared,
numbersign.squared,
hyphen.squared,
less.squared,
greater.squared,
equal.squared,
plus.squared,
minus.squared,
multiply.squared,
divide.squared,
arrowup.squared,
arrowdown.squared,
arrowleft.squared,
arrowright.squared,
check.squared,
ballotx.squared,
q.sups,
squaresmallblack.case,
arrowleft.case,
leftLongArrow.case,
leftSansSerifArrow.case,
arrowdblleft.case,
leftLongDoubleArrow.case,
arrowright.case,
rightlongArrow.case,
rightSansSerifArrow.case,
arrowdblright.case,
rightLongDoubleArrow.case,
arrowboth.case,
leftRightLongArrow.case,
arrowdblboth.case,
leftRightLongDoubleArrow.case,
a.sc,
exclamdown.case,
Abrevedotbelow.ss07,
Acircumflexdotbelow.ss07,
Adieresis.ss07,
Adieresismacron.ss07,
Adotaccent.ss07,
Adotbelow.ss07,
Bdot.ss07,
Bdotbelow.ss07,
Cdotaccent.ss07,
Ddot.ss07,
Ddotbelow.ss07,
Ecircumflexdotbelow.ss07,
Edieresis.ss07,
Edotaccent.ss07,
Edotbelow.ss07,
Fdot.ss07,
Gdotaccent.1.ss07,
Hdieresis.ss07,
Hdot.ss07,
Hdotbelow.ss07,
Idieresis.ss07,
Idieresisacute.ss07,
Idotaccent.ss07,
Idotbelow.ss07,
Kdotbelow.ss07,
Ldotbelow.ss07,
Lmacrondot.ss07,
Mdot.ss07,
Mdotbelow.ss07,
Ndot.ss07,
Ndotbelow.ss07,
Ocircumflexdotbelow.ss07,
Odieresis.ss07,
Odieresismacron.ss07,
Odotaccent.ss07,
Odotbelow.ss07,
Ohorndotbelow.ss07,
Otildedieresis.ss07,
Pdot.ss07,
Rdot.ss07,
Rdotbelow.ss07,
Rmacrondot.ss07,
Scarondot.ss07,
Sdot.ss07,
Sdotbelow.ss07,
Sdotbelowdotabove.ss07,
Tdot.ss07,
Tdotbelow.ss07,
Udieresis.ss07,
Udieresisacute.ss07,
Udieresisbelow.ss07,
Udieresiscaron.ss07,
Udieresisgrave.ss07,
Udieresismacron.ss07,
Udotbelow.ss07,
Uhorndotbelow.ss07,
Umacrondieresis.ss07,
Vdotbelow.ss07,
Wdieresis.ss07,
Wdot.ss07,
Wdotbelow.ss07,
Xdieresis.ss07,
Xdot.ss07,
Ydieresis.ss07,
Ydot.ss07,
Ydotbelow.ss07,
Zdotaccent.ss07,
Zdotbelow.ss07,
Idieresis.1.ss07,
Idieresisacute.1.ss07,
Idotaccent.1.ss07,
Idotbelow.1.ss07,
abrevedotbelow.ss07,
acircumflexdotbelow.ss07,
adieresis.ss07,
adieresismacron.ss07,
adotaccent.ss07,
adotbelow.ss07,
bdot.ss07,
bdotbelow.ss07,
cdotaccent.ss07,
ddot.ss07,
ddotbelow.ss07,
ecircumflexdotbelow.ss07,
edieresis.ss07,
edotaccent.ss07,
edotbelow.ss07,
fdot.ss07,
gdotaccent.ss07,
hdieresis.ss07,
hdot.ss07,
hdotbelow.ss07,
i.ss07,
idieresis.ss07,
idieresisacute.ss07,
idotbelow.ss07,
iogonek.ss07,
j.ss07,
jstroke.ss07,
kdotbelow.ss07,
ldot.ss07,
ldotbelow.ss02.ss07,
lmacrondot.ss02.ss07,
mdot.ss07,
mdotbelow.ss07,
ndot.ss07,
ndotbelow.ss07,
ocircumflexdotbelow.ss07,
odieresis.ss07,
odieresismacron.ss07,
odotaccent.ss07,
odotbelow.ss07,
ohorndotbelow.ss07,
otildedieresis.ss07,
pdot.ss07,
rdot.ss07,
rdotbelow.ss07,
rmacrondot.ss07,
sacutedotaccent.ss07,
scarondot.ss07,
sdot.ss07,
sdotbelow.ss07,
sdotbelowdotabove.ss07,
tdieresis.ss07,
tdot.ss07,
tdotbelow.ss07,
udieresis.ss07,
udieresisacute.ss07,
udieresisbelow.ss07,
udieresiscaron.ss07,
udieresisgrave.ss07,
udieresismacron.ss07,
udotbelow.ss07,
uhorndotbelow.ss07,
umacrondieresis.ss07,
vdotbelow.ss07,
wdieresis.ss07,
wdot.ss07,
wdotbelow.ss07,
xdieresis.ss07,
xdot.ss07,
ydieresis.ss07,
ydot.ss07,
ydotbelow.ss07,
zdotaccent.ss07,
zdotbelow.ss07,
abrevedotbelow.1.ss07,
acircumflexdotbelow.1.ss07,
adieresis.1.ss07,
adieresismacron.1.ss07,
adotaccent.1.ss07,
adotbelow.1.ss07,
idotbelow.ccmp.ss07,
ldot.ss02.ss07,
tdieresis.1.ss07,
tdot.1.ss07,
tdotbelow.1.ss07,
udieresis.1.ss07,
udieresisacute.1.ss07,
udieresisbelow.1.ss07,
udieresiscaron.1.ss07,
udieresisgrave.1.ss07,
udieresismacron.1.ss07,
udotbelow.1.ss07,
uhorndotbelow.1.ss07,
umacrondieresis.1.ss07,
Iocyr.ss07,
Yukrcyr.ss07,
Schwadieresiscyr.ss07,
Zhedieresiscyr.ss07,
Zedieresiscyr.ss07,
Idieresiscyr.ss07,
Obardieresiscyr.ss07,
Ereverseddieresiscyr.ss07,
Udieresiscyr.ss07,
Chedieresiscyr.ss07,
Ylongdieresiscyr.ss07,
Yukrcyr.1.ss07,
schwadieresiscyr.ss07,
zhedieresiscyr.ss07,
zedieresiscyr.ss07,
idieresiscyr.ss07,
obardieresiscyr.ss07,
ereverseddieresiscyr.ss07,
chedieresiscyr.ss07,
ylongdieresiscyr.ss07,
Upsilonadieresishooksymbol.ss07,
iotadieresis.ss07,
upsilondieresis.ss07,
upsilondieresistonos.ss07,
iotadieresisgrave.ss07,
iotadieresistilde.ss07,
upsilondieresisgrave.ss07,
upsilondieresisacute.ss07,
upsilondieresistilde.ss07,
anoteleia.ss07,
period.ss07,
comma.ss07,
colon.ss07,
semicolon.ss07,
ellipsis.ss07,
exclam.ss07,
question.ss07,
periodcentered.ss07,
semicolonreversed.ss07,
twodotenleader.ss07,
colon.case.ss07,
period.tf.ss07,
comma.tf.ss07,
colon.tf.ss07,
semicolon.tf.ss07,
colon.case.tf.ss07,
colonraisedmod.ss07,
dieresistonos.ss07,
dieresisgrave.ss07,
dieresisacute.ss07,
dieresistilde.ss07,
dieresiscomb.ss07,
dotaccentcomb.ss07,
dotaboverightcomb.ss07,
fourdotsabovecomb.ss07,
threedotsabovecomb.ss07,
tripleunderdotcomb.ss07,
dieresis.ss07,
dotaccent.ss07,
dieresis.three.ss07,
diaeresistonoscomb.ss07,
dotdblsubcomb.ss07,
acutedotcomb.lc.ss07,
carondot.lc.ss07,
carondot.uc.ss07,
dieresisacutecomb.lc.ss07,
dieresisacutecomb.uc.ss07,
dieresiscaroncomb.lc.ss07,
dieresiscaroncomb.uc.ss07,
dieresisgravecomb.lc.ss07,
dieresisgravecomb.uc.ss07,
dieresismacroncomb.lc.ss07,
dieresismacroncomb.uc.ss07,
macrondieresiscomb.cn.ss07,
macrondieresiscomb.lc.ss07,
tildedieresiscomb.lc.ss07,
tildedieresiscomb.uc.ss07,
jcrossedtail.ss07,
longsdot.ss07,
dotbelowcomb.ss07,
onedotenleader.ss07,
Aringogonek,
Yogonek,
aringogonek,
yogonek,
t.1,
ringcomb.uc,
fraction.squared,
I.double,
Idieresis.double,
Thook.base,
f.i,
slongstroke,
ghook.sc,
dotlessi.double,
idieresis.double,
i.sc,
k.base,
l.sc,
n.sc,
oe.sc,
r.sc,
rinv.sc,
tpalatalhook.1,
tcedilla.1,
tcaron.1,
tcommaaccent.1,
tdot.1,
tdotbelow.1,
tlinebelow.1,
tcircumflexbelow.1,
tdieresis.1,
u.1,
uacute.1,
ubar.1,
ubreve.1,
ucaron.1,
ucircumflex.1,
ucircumflexbelow.1,
udblgrave.1,
udieresis.1,
udieresisacute.1,
udieresisbelow.1,
udieresiscaron.1,
udieresisgrave.1,
udieresismacron.1,
udotbelow.1,
ugrave.1,
uhoi.1,
uhorn.1,
uhornacute.1,
uhorndotbelow.1,
uhorngrave.1,
uhornhoi.1,
uhorntilde.1,
uhungarumlaut.1,
uinvertedbreve.1,
umacron.1,
umacrondieresis.1,
uogonek.1,
uring.1,
utilde.1,
utildeacute.1,
utildebelow.1,
y.sc,
dieresis.three,
downArrowToBar.circled,
G.1.squared,
downArrowToBar.squared,
Gcommaaccent.ss03,
Kcommaaccent.ss03,
Lcommaaccent.ss03,
Ncommaaccent.ss03,
Rcommaaccent.ss03,
Scommaaccent.ss03,
Gcommaaccent.1.ss03,
kcommaaccent.ss03,
lcommaaccent.ss03,
ncommaaccent.ss03,
rcommaaccent.ss03,
scommaaccent.ss03,
tcommaaccent.ss03,
lcommaaccent.ss02.ss03,
tcommaaccent.1.ss03,
m.sc,
t.sc,
Pecyr.turn,
comma.ss03,
semicolon.ss03,
semicolonreversed.ss03,
quotedblleft.ss03,
quotedblright.ss03,
quoteleft.ss03,
quoteright.ss03,
quotereversed.ss03,
brevecomb_hookabovecomb,
dieresistonos_narrow,
asper.tonos,
lenisgrave.tonos,
aspergrave.tonos,
lenisacute.tonos,
asperacute.tonos,
lenistilde.tonos,
aspertilde.tonos,
grave-gr.tonos,
tonos.top,
macrongravecomb.lc,
commaaccentcomb.ss03,
grave_compact,
acute_compact,
ogonek.A,
ogonek.O,
ogonek.U,
ogonek.a,
ogonek.e,
ogonek.o,
ogonek.y,
ogonek.u.1,
acutedblcomb,
acuterightcomb,
acutesubcomb,
archdblsubcomb,
breveinvcomb,
breveinvsubcomb,
brevesubcomb,
bridgeinvsubcomb,
bridgesubcomb,
candraBinducomb,
circumflexsubcomb,
commasuprevcomb,
commaturnsupcomb,
diaeresistonoscomb,
dotdblsubcomb,
graveleftcomb,
gravesubcomb,
hookabove_compact,
hooksubpalatcomb,
hooksubretrocomb,
iotasubcomb,
linevertcomb,
linevertdblcomb,
linevertsubcomb,
macronsubcomb,
overlinecomb,
overscoredblcomb,
ringlefthalfsubcomb,
ringrighthalfsubcomb,
ringsubcomb,
seagullsubcomb,
tildemidcomb,
tildesubcomb,
underscorecomb,
underscoredblcomb,
xsupcomb,
acutedotcomb.lc,
carondot.lc,
carondot.uc,
ringacute.lc,
ringacute.uc,
tildedieresiscomb.lc,
tildedieresiscomb.uc,
tildemacroncomb.lc,
pecyrillicturn,
anglesupcomb,
barmidlongcomb,
crossbar,
crossbar_left_long,
squaresubcomb,
tackdownsubcomb,
tackleftsubcomb,
tackrightsubcomb,
tackupsubcomb,
tildevertsupcomb,
crossbar.uc,
quotedblreversed.ss03,
slashshortcomb.lc,
slashshort.uc,
uni0326,
zerowidthjoiner,
copyleftsymbol,
Asquare,
Bsquare,
Csquare,
Dsquare,
Esquare,
Fsquare,
Gsquare,
Hsquare,
Isquare,
Jsquare,
Ksquare,
Lsquare,
Msquare,
Nsquare,
Osquare,
Psquare,
Qsquare,
Rsquare,
Ssquare,
Tsquare,
Usquare,
Vsquare,
Wsquare,
Xsquare,
Ysquare,
Zsquare,
raisedmcsign,
raisedmdsign,
leftSansSerifArrow,
rightSansSerifArrow,
parenleft,
parenleft.case,
parenright,
parenright.case,
asterisk,
asterisk.case,
plus,
plus.case,
comma,
hyphen,
hyphen.case,
period,
zero,
zero.dnom.slash,
zero.numr.slash,
zero.subs.slash,
zero.sups.slash,
one,
one.dnom,
one.numr,
one.squared,
one.subs,
one.sups,
one.tf,
two,
three,
three.1,
three.dnom,
three.numr,
three.squared,
three.subs,
three.sups,
three.tf,
four,
four.dnom,
four.numr,
four.squared,
four.subs,
four.sups,
four.tf,
five,
six,
six.dnom,
six.numr,
six.squared,
six.subs,
six.sups,
six.tf,
seven,
eight,
nine,
nine.dnom,
nine.numr,
nine.squared,
nine.subs,
nine.sups,
nine.tf,
colon,
colon.case,
semicolon,
less,
less.case,
equal,
equal.case,
greater,
greater.case,
G,
bracketleft,
bracketleft.case,
bracketright,
bracketright.case,
l,
braceleft,
braceleft.case,
braceright,
braceright.case,
asciitilde,
asciitilde.case,
nbspace,
plusminus,
plusminus.case,
multiply,
multiply.case,
divide,
divide.case,
Gcircumflex,
Gbreve,
Gdotaccent,
Gdotaccent.ss07,
Gcommaaccent,
Gcommaaccent.1.ss07,
Gcommaaccent.ss07,
Kcommaaccent.ss07,
kcommaaccent.ss07,
lacute,
Lcommaaccent.ss07,
lcommaaccent,
lcommaaccent.ss02.ss07,
lcommaaccent.ss07,
lcaron,
ldot,
lslash,
Ncommaaccent.ss07,
ncommaaccent.ss07,
Rcommaaccent.ss07,
rcommaaccent.ss07,
Ghook,
lbar,
Gstroke,
Gcaron,
Gacute,
Scommaaccent.ss07,
scommaaccent.ss07,
tcommaaccent.1.ss07,
tcommaaccent.ss07,
lmiddletilde,
lbelt,
commaaccentcomb.ss07,
Decyr.loclBGR,
Kacyr.loclBGR,
Elcyr.loclBGR,
becyr.loclSRB,
vecyr.loclBGR,
gecyr.loclBGR,
decyr.loclBGR,
zhecyr.loclBGR,
icyr.loclBGR,
ishortcyr.loclBGR,
kacyr.loclBGR,
elcyr.loclBGR,
pecyr.loclBGR,
tecyr.loclBGR,
tsecyr.loclBGR,
shacyr.loclBGR,
shchacyr.loclBGR,
macronacutecomb.cn,
macrongravecomb.cn,
Gmacron,
ldotbelow,
ldotbelow.ss07,
lmacrondot,
lmacrondot.ss07,
llinebelow,
lcircumflexbelow,
punctuationspace,
quoteleft.ss08,
quoteright.ss08,
quotesinglbase.ss03,
quotesinglbase.ss08,
quotereversed.ss08,
quotedblleft.ss08,
quotedblright.ss08,
quotedblbase.ss03,
quotedblbase.ss08,
quotedblreversed.ss08,
arrowNW.case,
arrowNE.case,
arrowSE.case,
arrowSW.case,
minus,
minus.case,
approxequal,
approxequal.case,
notequal,
notequal.case,
lessequal,
lessequal.case,
greaterequal,
greaterequal.case,
uni2460,
uni2462,
uni2463,
uni2465,
uni2468,
_part.A_frac,
_part.Oslash,
_part.crossbar_compact,
_part.crossbar_compact_rext,
_part.crossbar_vert,
_part.cyrtail,
_part.cyrtic,
_part.cyrtic_center,
_part.cyrtic_hook,
_part.f_base,
_part.fitacy_bar,
_part.oslash,
_part.t_base,
_part.tcurl_base,
_tildecross.cn,
acutedotcomb.cn,
breveacutecomb.cn,
brevegravecomb.cn,
brevetildecomb.cn,
circumflexacutecomb.cn,
circumflexgravecomb.cn,
circumflexhookcomb.cn,
circumflextildecomb.cn,
commaaccentright.cn,
macrondieresiscomb.cn,
tildemacroncomb.cn,
commaaccentrotate.cn,
koronisaccentleft.cn,
f.l,
fi,
fl,
zecyr.loclBGR,
)
